@media screen and (max-width: 980px) {

  .wrapper__container {
    max-width: 760px;
    margin: 0 auto;
  }
    
  /* 
  ******* Float CSS **********
  */

  .float__image-block, .wrapper__image {
    width: 230px;
    height: 230px;
  }

  .float__image-block:hover .float__hover-block {
    height: 230px;
  }

  .float__head {
    margin: 80px 0 30px;
  }

  /* 
  ******* FlexBox CSS **********
  */

  .flexbox__image-block {
    margin: 10px;
  }

  .flexbox__vertically-middle { 
    padding: 20px 0;
    justify-content: center;
  }

  .flexbox__hover-block {
    width: 0;
    height: 230px;
  }

  .flexbox__image-block:hover .flexbox__hover-block {
    width: 230px;
  }


  /* 
  ******* Grid CSS **********
  */

  .grid__image-block:hover .grid__hover-block {
    width: 230px;
    height: 230px
  }
}

@media screen and (max-width: 767px) {

  header {
    padding: 20px 0;
  }

  .wrapper__head {
    font-size: 21px;
  }

  .wrapper__menu__list {
    margin: 0 5px;
  }

  .wrapper__container {
    max-width: 760px;
    margin: 0 auto;
  }

  .wrapper__left-block, .wrapper__right-block {
    float: none;
    width: auto;
    text-align: left;
    padding: 15px;
  }
    
  /* 
  ******* Float CSS **********
  */

  .float__vertically-middle {
    padding: 20px 0;
    position: relative;
    transform: inherit;
  }

  .float__image-block {
    width: 230px;
    height: 230px;
    float: none;
    margin: 20px auto;
  }


  /* 
  ******* Grid CSS **********
  */

  .grid__vertically-middle {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    grid-gap: 20px;
    padding: 40px 0;
  }

}

@media screen and (max-width: 481px) {

  /* 
  ******* Grid CSS **********
  */

  .grid__vertically-middle {
    grid-template-columns: auto;
    justify-content: space-evenly;
    grid-gap: 20px;
    padding: 40px 0;
  }

}